  @import url('https://fonts.googleapis.com/css2?family=Metropolis:wght@400;700&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    font-family: 'Metropolis', sans-serif;
  }
  
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4EC3CC;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4EC3CC;
}

/*  */